<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container" id="app">

        <div class="row mt-5">
            <div class="col-md-2">
            </div>
            <div class="col-md-5">
                <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="enter email" v-model="email" required>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="enter password" v-model="password" required="required">
                    </div>
                    <button type="submit" class="btn btn-primary" @click.prevent="displayDetails">Submit</button>
                  </form>
            </div>
            <div class="col-md-5" v-if = "hide">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Details</h5>
                      <p class="card-text">
                        Email Address:{{myEmail}}
                        Password:{{myPassword}}
                      </p>
                    </div>
                  </div>
            </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="app.js"></script>  
</body>
</html>